#validationStatus,
#daily_offer {
    display: none
}

#cat_table td,
#food_table td,
#menu_table td {
    text-align: center
}

#food_new_price {
    padding: 20px 0 0 0
}

#daily_cost {
    width: 30%;
    padding: 10px 0 0 0;
    display: none
}

#print_wrapper {
    width: 90%;
    margin: 0 auto 0 auto
}

.mb_content_placeholder {
    display: none
}

.alert,
.asterisk {
    color: red
}

.form_group {
    width: 100%;
    margin: 0 0 10px 0
}

.menu_block {
    border: solid thin #d8d8d8;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 20px 0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(199, 191, 199, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(199, 191, 199, 1);
    box-shadow: 10px 10px 5px 0px rgba(199, 191, 199, 1);
}

#save_menu_form label,
.meal_title {
    font-size: 1.2em;
    margin: 0 0 20px 0;
    font-weight: bold
}


/* Loader */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin: 180px 0 0 40%;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}