        body {
            margin: 0;
            padding: 0;
            overflow-y: auto
        }
        
        header {
            width: 100%;
            position: -webkit-sticky;
            position: sticky;
            top: 0
        }
        
        section {
            margin: 0 0 25px 0
        }
        
        nav {
            padding: 5px 0 0 0
        }
        
        figure {
            margin: 0
        }
        
        aside {
            display: none;
            right: 0px
        }
        
        main {
            padding: 10px;
        }
        
        article p {
            text-align: justify
        }
        
        footer {
            width: 100%;
            text-align: center;
            padding: 10px 0 10px 0
        }
        
        label,
        .label-text {
            font-size: 1.2em;
            text-decoration: underline
        }
        
        .artImg,
        .delImg,
        .imgUrl {
            margin: 10px 0 0 0
        }
        
        .title {
            text-shadow: 3px 3px 4px black
        }
        
        .asterisk,
        .alert {
            color: red
        }
        
        .form-group {
            margin: 0 0 20px 0
        }
        
        .modal-group {
            margin: 0 0 15px 0
        }
        
        #content-placeholder {
            width: 100%
        }
        
        #validationStatus,
        .baseUrl,
        .catName,
        .artStat {
            display: none
        }
        
        #delAllImg {
            margin: 10px 0 10px 0
        }
        
        .w3-modal-content {
            padding: 20px !important
        }
        
        .galery img {
            margin: 0 5px 5px 0;
            width: 32%
        }
        
        .artAlb,
        .imgUpdate {
            cursor: pointer
        }
        
        .albImg {
            margin: 0 0 10px 0
        }
        
        .loginForm {
            width: 60%;
            margin: 100px auto 0 auto
        }
        
        .form-part {
            border: solid thin #d3d3d3;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(211, 211, 211, 1);
            -moz-box-shadow: 10px 10px 5px 0px rgba(211, 211, 211, 1);
            box-shadow: 10px 10px 5px 0px rgba(211, 211, 211, 1);
            margin: 0 0 20px 0
        }
        
        .thumbMark {
            border: solid thick red
        }
        
        .hintImg {
            width: 16px
        }
        
        .tooltipText {
            position: absolute;
            left: 0;
            bottom: 18px;
            background-color: red;
            font-size: 0.8em !important
        }
        
        .doc p {
            text-align: justify
        }