body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: "Big Shoulders Text", Arial, Helvetica, sans-serif;
}

.footer {
    text-align: center;
    padding: 10px 0 10px 0
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    z-index: -1;
    text-align: center
}

#slider_placeholder {
    max-width: 1600px;
    max-height: 920px;
    margin: 0 auto 0 auto !important;
    width: 100%;
}

#slider_placeholder img {
    max-width: 100vw;
    height: auto;
    width: auto;
    max-height: 100vh
}

.mp-link {
    font-size: 1.2em
}

#mp-logo {
    position: absolute;
    top: 1%;
    z-index: 0;
    color: #FFF;
    font-size: 4em;
    text-shadow: 0 0 10px #0A0403;
    font-family: 'Big Shoulders Text', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.menuOpen {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#mp-side-menu {
    list-style-type: none;
    padding: 0 !important
}

#mp-side-menu li {
    margin: 0 !important
}

.mp-list {
    text-align: left !important
}

#mp-menu-large {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0 0 0 0;
    z-index: 0;
    display: block;
    background-color: black;
    opacity: 0.7;
    color: #FFF;
    padding: 5px 0 5px 0
}

#mp-nav {
    width: 80%;
    margin: 0 auto 0 2%;
    font-size: 1.3em
}

#mp-content {
    position: absolute;
    width: 25%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.9;
    color: #FFF;
    padding: 10px;
    overflow: auto;
    font-family: "Big Shoulders Text", Arial, Helvetica, sans-serif !important;
    font-size: 1.3em
}

#mp-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1%;
    z-index: 0;
    text-align: center;
    color: #FFF
}

#contentOpen {
    display: none
}

#loader-placeholder {
    width: 100%;
    height: 100vh;
    background-color: black
}

#loader-img {
    width: 5% !important;
    margin: 0 auto 0 auto !important
}

#articlesData {
    display: none;
}

td {
    vertical-align: top
}

.logo-placeholder {
    width: 90%;
    margin: 5px auto 5px auto;
    background-color: #FFF;
    text-align: center;
    padding: 5px;
    color: black;
    font-size: 1.3em;
    text-shadow: 3px 3px 4px #3f3f3f
}

p {
    text-align: justify
}

.baseUrl {
    display: none
}

.catLink {
    font-size: 1.3em;
    cursor: pointer;
    list-style-type: none;
    text-align: left
}

.catNav {
    opacity: 0.9;
    font-size: 1.3em !important
}

.catLink a,
.catNavItem a {
    text-decoration: none
}

#thumbPlaceholder {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.thumb {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: width 1s ease-in-out;
    -webkit-transition: width 1s ease-in-out
}

.text {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: #FFF;
    background-color: #2a2a2a;
    padding: 10px;
    display: none;
    font-size: 1.3em
}

.buildImg {
    border: solid thin #545454;
    width: 100%
}

.blank {
    width: 100%
}

.w3-sidebar {
    width: 250px
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
    #mp-menu-large {
        display: none
    }
    .menuOpen {
        display: block
    }
    .slider {
        padding-top: 0px !important
    }
}

@media only screen and (min-width: 950px) {
    .menuOpen,
    .mp-sidebar {
        display: none !important
    }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    #mp-content {
        width: 80%
    }
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
    #mp-content {
        width: 60%
    }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
    #mp-content {
        width: 50%
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    #mp-content {
        width: 40%
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
    #mp-content {
        width: 30%
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .artThumb {
        width: 50% !important
    }
}