$backgroundGrey: #828282;
$white: #FFF;
$linkHoverGrey: #2a2a2a;
$red: #FF0000;
$black: #000000;
$borderGray: #696969;
$boxShadowGrey: #3f3f3f;
$textShadowGrey: #484848;
$serviceBackgroundRed: #f44336;
$mapCatBgGrey: #D3D3D3;