@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
    padding: $top $right $bottom $left;
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
    margin: $top $right $bottom $left;
}

@mixin display($display) {
    display: $display;
}

@mixin dimensions($width: 100%, $height: auto) {
    width: $width;
    height: $height;
}

@mixin text($textAlign: false, $textDecoration: false) {
    @if $textAlign!=false and $textDecoration!=false {
        text-align: $textAlign;
        text-decoration: $textDecoration;
    }
    @else if $textAlign!=false {
        text-align: $textAlign;
    }
    @else if $textDecoration!=false {
        text-decoration: $textDecoration;
    }
}

@mixin font($color: false, $size: false) {
    @if $color!=false and $size!=false {
        font-size: $size;
        color: $color;
    }
    @else if $size!=false {
        font-size: $size;
    }
    @else if $color!=false {
        color: $color;
    }
}

@mixin border($values: false, $direction: false, $radius: false) {
    @if $direction==top {
        border-top: $values;
    }
    @else if $direction==right {
        border-right: $values;
    }
    @else if $direction==bottom {
        border-bottom: $values;
    }
    @else if $direction==left {
        border-left: $values;
    }
    @else if $radius!=false {
        border-radius: $radius;
    }
    @else {
        border: $values;
    }
}

@mixin background($color: false, $url: false, $position: false) {
    @if $color!=false {
        background-color: $color;
    }
    @else if $url!=false {
        background: url($url);
    }
    @else if $url!=false and $position !=false {
        background: url($url) $position;
    }
}

@mixin shadow($values, $type) {
    @if $type==box {
        -webkit-box-shadow: $values;
        -moz-box-shadow: $values;
        box-shadow: $values;
    }
    @else if $type==text {
        text-shadow: $values;
    }
}