body {
  padding: 0 0 100px 0;
  margin: 0 0 0 0; }

footer {
  background-color: #828282;
  color: #FFF; }

#mainNav {
  background-color: #828282; }

#mainMenu-items a {
  color: #FFF !important; }
#mainMenu-items a:hover {
  color: #2a2a2a !important; }

#adminSidebar {
  display: none;
  width: 15%;
  height: auto;
  right: 0; }

.asterisk {
  color: #FF0000; }

.form-part {
  border: solid thin #d3d3d3;
  -webkit-box-shadow: 10px 10px 5px 0px lightgray;
  -moz-box-shadow: 10px 10px 5px 0px lightgray;
  box-shadow: 10px 10px 5px 0px lightgray;
  margin: 0 0 20px 0; }

.alert,
.pass-check {
  color: #FF0000; }

.sys-msg {
  display: none; }

.galery img {
  margin: 5px 5px 5px 0;
  width: 32%;
  height: auto; }

.thumbImg {
  width: 100%;
  height: 250px;
  overflow: hidden; }

.img-placeholder {
  border: solid thin #828282; }

.docs {
  text-align: justify; }

/*# sourceMappingURL=adminStyle.css.map */
