@import "colors";
@import "mixins";
@import "variables";
body {
    @include padding($bottom: 100px);
    @include margin();
}

footer {
    background-color: $backgroundGrey;
    color: $white;
}

#mainNav {
    background-color: $backgroundGrey;
}

#mainMenu-items {
    a {
        color: $white !important;
    }
    a:hover {
        color: $linkHoverGrey !important;
    }
}

#adminSidebar {
    @include display(none);
    @include dimensions($width: 15%);
    right: 0;
}

.asterisk {
    color: $red;
}

.form-part {
    border: solid thin #d3d3d3;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(211, 211, 211, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(211, 211, 211, 1);
    box-shadow: 10px 10px 5px 0px rgba(211, 211, 211, 1);
    @include margin($bottom: 20px);
}

.alert,
.pass-check {
    color: $red;
}

.sys-msg {
    @include display(none);
}

.galery {
    img {
        @include margin($top: 5px, $right: 5px, $bottom: 5px);
        @include dimensions($width: 32%);
    }
}

.thumbImg {
    @include dimensions($height: 250px);
    overflow: hidden;
}

.img-placeholder {
    @include border($values: solid thin $backgroundGrey);
}

.docs {
    @include text($textAlign: justify);
}