        @import "colors";
        @import "mixins";
        @import "variables";
        body {
            @include margin();
            @include padding($top: 160px, $right: 0, $bottom: 0, $left: 0 !important);
        }
        
        table {
            th {
                @include text($textAlign: center !important);
                @include font($size: 2em, $color: $white);
            }
            td {
                @include text($textAlign: center !important);
                @include font($color: $white, $size: 1.5em);
                @include dimensions($width: 25% !important);
            }
        }
        
        #motto-placeholder {
            @include background($color: $backgroundGrey);
            @include font($color: $white);
            #motto-data {
                @include dimensions($width: 90%);
                @include margin($right: auto, $left: auto);
            }
            #motto-tel {
                @include text($textAlign: right);
            }
        }
        
        #nav-placeholder {
            @include dimensions($width: 90%);
            @include margin($right: auto, $left: auto);
        }
        
        #request-offer,
        #request-offer-mob {
            @include text($textAlign: right);
        }
        
        #request-offer-mob {
            @include margin($top: 5px, $right: 0, $bottom: 0, $left: 0 !important);
        }
        
        #nav,
        #hor-menu {
            @include background($color: $white !important);
            @include border($values: none !important);
            @include font($color: $backgroundGrey !important);
        }
        
        #banner-placeholder {
            position: relative;
            z-index: 0;
            @include border($values: solid thin $black, $direction: bottom);
            @include dimensions($height: 550px);
            overflow: hidden;
            #banner-bg {
                position: absolute;
                z-index: -1;
            }
            #banner-text {
                @include padding($top: 4%, $right: 0, $bottom: 0, $left: 0 !important);
            }
            #banner-motto {
                @include font($color: $white);
                @include font($size: 4em);
                @include text($textAlign: center);
                text-shadow: $textShadow;
            }
            #banner-offer {
                @include text($textAlign: center);
            }
        }
        
        #content-placeholder {
            @include background($color: $backgroundGrey);
            #content {
                @include dimensions($width: 90% !important);
                @include margin($top: 50px, $right: auto, $bottom: 50px, $left: auto !important);
                @include text($textAlign: justify);
                @include font($color: $backgroundGrey);
                @include font(1.2em);
                @include border($values: solid thin $borderGray, $radius: 10px);
                @include shadow($values: 10px 10px 5px 0px $boxShadowGrey, $type: box);
                @include background($color: $white);
                opacity: $opacity;
            }
            h1 {
                @include shadow($values: 2px 2px 2px $textShadowGrey, $type: text);
            }
        }
        
        #ref-placeholder {
            @include background($color: $backgroundGrey);
            #ref {
                @include dimensions($width: 90% !important);
                @include margin($right: auto, $left: auto !important);
                @include padding($top: 50px, $right: 0, $bottom: 50px, $left: 0 !important);
                img {
                    @include dimensions($width: 100% !important);
                    cursor: pointer;
                    transition: transform .2s;
                }
                img:hover {
                    transform: scale(1.2);
                }
            }
        }
        
        #service1-placeholder {
            @include background($color: $serviceBackgroundRed);
            @include font($color: $white);
        }
        
        #service1-img {
            @include background($url: '../uploads/images/henger.jpg', $position: no-repeat)
        }
        
        #service2-placeholder {
            @include background($color: $backgroundGrey);
            @include font($color: $white);
            @include padding($top: 0, $right: 0, $bottom: 30px, $left: 0 !important);
        }
        
        #service2-img {
            @include background($url: '../uploads/images/motor2.jpg', $position: no-repeat)
        }
        
        #footer {
            @include background($color: $serviceBackgroundRed);
            @include font($color: $white);
        }
        
        #subpage-footer {
            @include background($color: $backgroundGrey);
            @include font($color: $white);
        }
        
        #links,
        #address {
            @include font($size: 1.5em);
        }
        
        #links {
            ul li {
                cursor: pointer;
            }
        }
        
        #map {
            @include margin($top: 0, $right: 0, $bottom: -5px, $left: 0 !important);
        }
        
        #impressum {
            @include background($color: $backgroundGrey !important);
        }
        
        #modal-content {
            @include background($color: $white);
            opacity: $opacity;
        }
        
        #form_hp,
        #sidebar,
        .sys-msg {
            @include display(none);
        }
        
        .offerBtn {
            @include border($radius: 10px);
        }
        
        .text-shd {
            text-shadow: $textShadow;
        }
        
        .header {
            @include background($color: $white);
            opacity: $opacity;
            @include font($color: $backgroundGrey);
        }
        
        .par {
            @include text($textAlign: justify);
        }
        
        .tdDiv {
            @include dimensions($height: 350px);
            overflow: hidden;
        }
        
        .asterisk,
        .alert {
            @include font($color: $red);
        }
        
        .serv-img {
            overflow: hidden;
        }
        
        .fb-page {
            @include dimensions($width: 95%);
        }
        
        .mapCat {
            @include background($color: $serviceBackgroundRed !important);
            @include font($color: $white);
            @include text($textDecoration: underline);
        }
        
        .mapCatContent {
            @include font($size: 0.8em !important);
            @include background($color: $mapCatBgGrey);
        }
        
        .catMenuItem {
            @include font($size: 0.8em !important);
        }
        /* RESZPONZÍV SZABÁLYOK */
        /* Menü és motto */
        
        @media only screen and (max-width: 601px) {
            .motto {
                @include text($textAlign: center !important);
                @include font($size: 0.8em)
            }
            #motto-address {
                @include padding($top: 10px, $right: 0, $bottom: 0, $left: 0);
            }
        }
        
        @media only screen and (min-width: 1451px) and (max-width: 1546px) {
            #hor-menu {
                @include font($size: 1.1em !important);
            }
        }
        
        @media only screen and (min-width: 1355px) and (max-width: 1450px) {
            #hor-menu {
                @include font($size: 1.0em !important);
            }
        }
        
        @media only screen and (max-width: 1355px) {
            #hor-menu,
            #mobil-menu {
                @include font($size: 0.8em !important);
            }
        }
        
        @media only screen and (min-width: 1164px) and (max-width: 1307px) {
            #hor-menu {
                @include margin($top: 0, $right: 0, $bottom: 0, $left: 0 !important);
            }
        }
        
        @media only screen and (max-width: 1163px) {
            #mobileMenuOpen {
                @include display(block !important);
            }
            #request-offer,
            #menu-body {
                @include display(none);
            }
        }
        
        @media only screen and (min-width: 1164px) {
            #request-offer-mob {
                @include display(none);
            }
        }
        
        @media only screen and (min-width: 1164px) and (max-width: 1339px) {
            #request-offer {
                @include margin($top: -15px, $right: 0, $bottom: 0, $left: 0 !important);
            }
        }
        /* Banner */
        
        @media only screen and (min-width: 870px) and (max-width: 1250px) {
            #banner-placeholder {
                @include dimensions($height: 400px);
            }
        }
        
        @media only screen and (max-width: 869px) {
            #banner-placeholder {
                @include dimensions($height: 310px);
            }
        }
        
        @media only screen and (min-width: 1251px) and (max-width: 1410px) {
            #banner-motto {
                @include font($size: 3em);
            }
        }
        
        @media only screen and (min-width: 948px) and (max-width: 1250px) {
            #banner-motto {
                @include font($size: 2.8em !important);
            }
        }
        
        @media only screen and (min-width: 870px) and (max-width: 948px) {
            #banner-motto,
            .offerBtn {
                @include font($size: 2.0em !important);
            }
        }
        
        @media only screen and (min-width: 710px) and (max-width: 869px) {
            #banner-motto,
            .offerBtn {
                @include font($size: 1.5em !important);
            }
        }
        
        @media only screen and (max-width: 709px) {
            #banner-motto,
            .offerBtn {
                @include font($size: 1.2em !important);
            }
        }
        
        @media only screen and (max-width: 600px) {
            #banner-logo {
                @include display(none);
            }
            #banner-motto {
                @include font($size: 2em !important);
            }
        }
        /* Referencia táblázat */
        
        @media only screen and (min-width: 564px) and (max-width: 1000px) {
            .tdDiv {
                @include dimensions($height: 150px);
            }
        }
        
        @media only screen and (min-width: 493px) and (max-width: 563px) {
            .header {
                @include font($size: 0.8em !important);
            }
            .tdDiv {
                @include dimensions($height: 180px);
            }
        }
        
        @media only screen and (min-width: 384px) and (max-width: 492px) {
            .header {
                @include font($size: 0.5em !important);
            }
            .tdDiv {
                @include dimensions($height: 150px);
            }
            td {
                @include dimensions($width: 50% !important);
            }
        }
        
        @media only screen and (max-width: 383px) {
            .header {
                @include font($size: 0.5em !important);
            }
            .tdDiv {
                @include dimensions($height: 100px);
            }
            td {
                @include dimensions($width: 50% !important);
            }
        }
        /* Szolgáltatás képek */
        
        @media only screen and (max-width: 1000px) {
            #service1-img,
            #service2-img {
                @include display(none);
            }
            #service1-text,
            #service2-text {
                @include dimensions($width: 100% !important);
            }
        }
        /* Footer */
        
        @media only screen and (max-width: 1195px) {
            #contact {
                @include font($size: 0.9em !important);
            }
        }
        
        @media only screen and (max-width: 1025px) {
            #links {
                @include display(none);
            }
            .footerData {
                @include dimensions($width: 50% !important);
            }
        }
        
        @media only screen and (max-width: 949px) {
            #offer-btn-footer {
                @include font($size: 0.9em !important);
            }
        }
        
        @media only screen and (max-width: 750px) {
            .footerData {
                @include dimensions($width: 100% !important);
            }
        }