@charset "UTF-8";
body {
  margin: 0 0 0 0;
  padding: 160px 0 0 0 !important; }

table th {
  text-align: center !important;
  font-size: 2em;
  color: #FFF; }
table td {
  text-align: center !important;
  font-size: 1.5em;
  color: #FFF;
  width: 25% !important;
  height: auto; }

#motto-placeholder {
  background-color: #828282;
  color: #FFF; }
  #motto-placeholder #motto-data {
    width: 90%;
    height: auto;
    margin: 0 auto 0 auto; }
  #motto-placeholder #motto-tel {
    text-align: right; }

#nav-placeholder {
  width: 90%;
  height: auto;
  margin: 0 auto 0 auto; }

#request-offer,
#request-offer-mob {
  text-align: right; }

#request-offer-mob {
  margin: 5px 0 0 0 !important; }

#nav,
#hor-menu {
  background-color: #FFF !important;
  border: none !important;
  color: #828282 !important; }

#banner-placeholder {
  position: relative;
  z-index: 0;
  border-bottom: solid thin #000000;
  width: 100%;
  height: 550px;
  overflow: hidden; }
  #banner-placeholder #banner-bg {
    position: absolute;
    z-index: -1; }
  #banner-placeholder #banner-text {
    padding: 4% 0 0 0 !important; }
  #banner-placeholder #banner-motto {
    color: #FFF;
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 0 #828282, 2px -2px 0 #828282, -2px 2px 0 #828282, -2px -2px 0 #828282, 2px 0px 0 #828282, 0px 2px 0 #828282, -2px 0px 0 #828282, 0px -2px 0 #828282; }
  #banner-placeholder #banner-offer {
    text-align: center; }

#content-placeholder {
  background-color: #828282; }
  #content-placeholder #content {
    width: 90% !important;
    height: auto;
    margin: 50px auto 50px auto !important;
    text-align: justify;
    color: #828282;
    color: 1.2em;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px #3f3f3f;
    -moz-box-shadow: 10px 10px 5px 0px #3f3f3f;
    box-shadow: 10px 10px 5px 0px #3f3f3f;
    background-color: #FFF;
    opacity: 0.8; }
  #content-placeholder h1 {
    text-shadow: 2px 2px 2px #484848; }

#ref-placeholder {
  background-color: #828282; }
  #ref-placeholder #ref {
    width: 90% !important;
    height: auto;
    margin: 0 auto 0 auto !important;
    padding: 50px 0 50px 0 !important; }
    #ref-placeholder #ref img {
      width: 100% !important;
      height: auto;
      cursor: pointer;
      transition: transform .2s; }
    #ref-placeholder #ref img:hover {
      transform: scale(1.2); }

#service1-placeholder {
  background-color: #f44336;
  color: #FFF; }

#service1-img {
  background: url("../uploads/images/henger.jpg"); }

#service2-placeholder {
  background-color: #828282;
  color: #FFF;
  padding: 0 0 30px 0 !important; }

#service2-img {
  background: url("../uploads/images/motor2.jpg"); }

#footer {
  background-color: #f44336;
  color: #FFF; }

#subpage-footer {
  background-color: #828282;
  color: #FFF; }

#links,
#address {
  font-size: 1.5em; }

#links ul li {
  cursor: pointer; }

#map {
  margin: 0 0 -5px 0 !important; }

#impressum {
  background-color: #828282 !important; }

#modal-content {
  background-color: #FFF;
  opacity: 0.8; }

#form_hp,
#sidebar,
.sys-msg {
  display: none; }

.offerBtn {
  border-radius: 10px; }

.text-shd {
  text-shadow: 2px 2px 0 #828282, 2px -2px 0 #828282, -2px 2px 0 #828282, -2px -2px 0 #828282, 2px 0px 0 #828282, 0px 2px 0 #828282, -2px 0px 0 #828282, 0px -2px 0 #828282; }

.header {
  background-color: #FFF;
  opacity: 0.8;
  color: #828282; }

.par {
  text-align: justify; }

.tdDiv {
  width: 100%;
  height: 350px;
  overflow: hidden; }

.asterisk,
.alert {
  color: #FF0000; }

.serv-img {
  overflow: hidden; }

.fb-page {
  width: 95%;
  height: auto; }

.mapCat {
  background-color: #f44336 !important;
  color: #FFF;
  text-decoration: underline; }

.mapCatContent {
  font-size: 0.8em !important;
  background-color: #D3D3D3; }

.catMenuItem {
  font-size: 0.8em !important; }

/* RESZPONZÍV SZABÁLYOK */
/* Menü és motto */
@media only screen and (max-width: 601px) {
  .motto {
    text-align: center !important;
    font-size: 0.8em; }

  #motto-address {
    padding: 10px 0 0 0; } }
@media only screen and (min-width: 1451px) and (max-width: 1546px) {
  #hor-menu {
    font-size: 1.1em !important; } }
@media only screen and (min-width: 1355px) and (max-width: 1450px) {
  #hor-menu {
    font-size: 1em !important; } }
@media only screen and (max-width: 1355px) {
  #hor-menu,
  #mobil-menu {
    font-size: 0.8em !important; } }
@media only screen and (min-width: 1164px) and (max-width: 1307px) {
  #hor-menu {
    margin: 0 0 0 0 !important; } }
@media only screen and (max-width: 1163px) {
  #mobileMenuOpen {
    display: block !important; }

  #request-offer,
  #menu-body {
    display: none; } }
@media only screen and (min-width: 1164px) {
  #request-offer-mob {
    display: none; } }
@media only screen and (min-width: 1164px) and (max-width: 1339px) {
  #request-offer {
    margin: -15px 0 0 0 !important; } }
/* Banner */
@media only screen and (min-width: 870px) and (max-width: 1250px) {
  #banner-placeholder {
    width: 100%;
    height: 400px; } }
@media only screen and (max-width: 869px) {
  #banner-placeholder {
    width: 100%;
    height: 310px; } }
@media only screen and (min-width: 1251px) and (max-width: 1410px) {
  #banner-motto {
    font-size: 3em; } }
@media only screen and (min-width: 948px) and (max-width: 1250px) {
  #banner-motto {
    font-size: 2.8em !important; } }
@media only screen and (min-width: 870px) and (max-width: 948px) {
  #banner-motto,
  .offerBtn {
    font-size: 2em !important; } }
@media only screen and (min-width: 710px) and (max-width: 869px) {
  #banner-motto,
  .offerBtn {
    font-size: 1.5em !important; } }
@media only screen and (max-width: 709px) {
  #banner-motto,
  .offerBtn {
    font-size: 1.2em !important; } }
@media only screen and (max-width: 600px) {
  #banner-logo {
    display: none; }

  #banner-motto {
    font-size: 2em !important; } }
/* Referencia táblázat */
@media only screen and (min-width: 564px) and (max-width: 1000px) {
  .tdDiv {
    width: 100%;
    height: 150px; } }
@media only screen and (min-width: 493px) and (max-width: 563px) {
  .header {
    font-size: 0.8em !important; }

  .tdDiv {
    width: 100%;
    height: 180px; } }
@media only screen and (min-width: 384px) and (max-width: 492px) {
  .header {
    font-size: 0.5em !important; }

  .tdDiv {
    width: 100%;
    height: 150px; }

  td {
    width: 50% !important;
    height: auto; } }
@media only screen and (max-width: 383px) {
  .header {
    font-size: 0.5em !important; }

  .tdDiv {
    width: 100%;
    height: 100px; }

  td {
    width: 50% !important;
    height: auto; } }
/* Szolgáltatás képek */
@media only screen and (max-width: 1000px) {
  #service1-img,
  #service2-img {
    display: none; }

  #service1-text,
  #service2-text {
    width: 100% !important;
    height: auto; } }
/* Footer */
@media only screen and (max-width: 1195px) {
  #contact {
    font-size: 0.9em !important; } }
@media only screen and (max-width: 1025px) {
  #links {
    display: none; }

  .footerData {
    width: 50% !important;
    height: auto; } }
@media only screen and (max-width: 949px) {
  #offer-btn-footer {
    font-size: 0.9em !important; } }
@media only screen and (max-width: 750px) {
  .footerData {
    width: 100% !important;
    height: auto; } }

/*# sourceMappingURL=siteStyle.css.map */
