@mixin padding($padding: 0) {
    padding: $padding;
}

@mixin margin($margin: 0) {
    margin: $margin;
}

@mixin fontSize($fontSize) {
    font-size: $fontSize;
}

@mixin fontStyle($fontStyle) {
    font-style: $fontStyle;
}

@mixin fontWeight($fontWeight) {
    font-weight: $fontWeight;
}

@mixin mainBackGround() {
    background-image: url('../../images/header_bg.png');
    background-repeat: repeat;
}

@mixin textAlign($textAlign) {
    text-align: $textAlign;
}

@mixin modulBackGround() {
    background-color: $white;
    border-radius: 10px;
    opacity: 0.8;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@mixin imgShadow() {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(135, 130, 135, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(135, 130, 135, 1);
    box-shadow: 10px 10px 5px 0px rgba(135, 130, 135, 1);
}

@mixin width($width,
$margin: 0) {
    width: $width;
    margin: $margin;
}

@mixin modul($margin) {
    margin: $margin;
    @include padding(0 10px 20px 10px);
}

@mixin elementBackGround {
    border: solid 2px $grey;
    @include padding(10px);
    @include imgShadow;
    border-radius: 5px;
}