@import "variables";
@import "colors";
@import "mixins";
body {
    @include margin;
    @include padding;
}

td,
th {
    border: solid thin $grey;
}

#wrapper {
    @include mainBackGround;
}

#motto {
    color: $white;
    h1 {
        @include fontSize(5em);
        @include fontStyle(italic);
        text-shadow: $textShadow;
    }
    p {
        @include fontSize(2em);
        @include fontStyle(italic);
        text-shadow: $textShadow;
    }
}

#header {
    background-color: $deepRed;
    border-bottom: solid 10px $silver;
}

#mainElements {
    @include width(80%, 0 auto 0 auto !important);
    @include padding(10px)
}

#footer {
    @include textAlign(center !important);
    color: $white;
    @include padding(0 0 20px 0);
}

#filter-service {
    @include margin(0 0 20px 0);
    p {
        @include fontWeight(bold);
    }
}

#filter-desc {
    @include fontSize(1.2em);
}

#tyre-enq {
    cursor: $cursor;
}

#tyre-rec,
#dailyData {
    @include textAlign(center);
}

#dailyHint {
    @include width(90%, 30px auto 30px auto);
    @include elementBackGround;
}

#tyre-rec {
    @include width(60%, 15px auto 15px auto !important);
    color: $white !important;
    text-shadow: $textShadow;
}

#tyre-filters {
    @include margin(0 0 20px 0);
}

#tyre-filters,
#filter-result,
#hint-content {
    display: none;
}

#filter-result {
    @include elementBackGround;
}

#consent {
    @include textAlign(left !important);
    @include fontWeight(normal !important);
}

#filter-placeholder,
#promos,
#about,
#services,
#prices,
#contact,
#temp {
    @include modulBackGround;
    @include modul(0 0 20px 0);
}

#filter-placeholder {
    p {
        @include fontWeight(bold);
        @include textAlign(center);
    }
}

#filter-panel {
    @include width(90%, 0 auto 10px auto);
    @include elementBackGround;
    @include padding(20px 30px 20px 30px !important);
}

#promos,
#filter-title,
#contact-title,
#prices-title {
    img {
        @include imgShadow;
    }
}

#tyre,
#oil,
#wheel,
#headlight {
    img {
        cursor: $cursor;
    }
    img:hover {
        @include imgShadow;
    }
}

#contact-data {
    @include textAlign(center);
    @include elementBackGround;
}

#map {
    @include elementBackGround;
    p {
        @include fontWeight(bold);
    }
}

#modal-text,
#about-content {
    @include textAlign(justify);
    img {
        @include margin(0 0 15px 15px);
    }
}

#prices-content,
#about-content {
    @include elementBackGround;
    display: none;
}

#prices-toggle,
#hint-toggle,
#about-toggle {
    cursor: $cursor;
    @include width(50px);
}

#idokep-link {
    @include fontWeight(normal !important);
}

.content-font {
    color: $contentFont;
}

.title {
    color: $white !important;
    text-shadow: $textShadow;
}

.title-img {
    @include textAlign(center);
}

.alert,
.asterisk {
    color: $red;
}

.contact-data {
    @include fontWeight(bold);
    @include fontSize(1.2em);
}

.w3-sidebar {
    @include modulBackGround;
}

.w3-modal-content {
    @include padding(50px !important);
}

.w3-grey {
    background-color: #bbbbbb;
}

@media only screen and (max-width: 600px) {
    #mainElements {
        @include width(100%, 0 auto 0 auto !important);
    }
    #motto {
        @include textAlign(center);
        h1 {
            @include fontSize(3em);
        }
        p {
            @include fontSize(1em);
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #mainElements {
        @include width(100%, 0 auto 0 auto !important);
    }
    #motto {
        h1 {
            @include fontSize(3.5em);
        }
        p {
            @include fontSize(1.5em);
        }
    }
    .w3-quarter {
        @include width(50%, 0 auto 10px auto !important);
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #mainElements {
        @include width(95%, 0 auto 0 auto !important);
    }
    #motto {
        h1 {
            @include fontSize(3.8em);
        }
        p {
            @include fontSize(1.8em);
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    #mainElements {
        @include width(90%, 0 auto 0 auto !important);
    }
    #motto {
        h1 {
            @include fontSize(4em);
        }
        p {
            @include fontSize(2em);
        }
    }
}